<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KnowledgeHub"
        tools:targetApi="31">
        <activity
            android:label="AI/ML fundamentals"
            android:parentActivityName=".TechKnowledge"
            android:name=".ai_learning_roadmap"
            android:exported="false" />
        <activity
            android:parentActivityName=".TechKnowledge"
            android:label="UI/UX fundamentals"
            android:name=".uxDesign_roadmap"
            android:exported="false" />
        <activity
            android:name=".hacking_roadmap"
            android:exported="false"
            android:label="Hacking fundamentals"
            android:parentActivityName=".TechKnowledge" />

        <activity
            android:name=".webDev_roadmap"
            android:exported="false"
            android:label="Web-Dev course"
            android:parentActivityName=".TechKnowledge" />
        <activity
            android:name=".ios_roadmap"
            android:exported="false"
            android:label="IOS-development"
            android:parentActivityName=".TechKnowledge" />
        <activity
            android:name=".android_roadmap"
            android:exported="false"
            android:label="Android-development"
            android:parentActivityName=".TechKnowledge" />
        <activity
            android:name=".TechKnowledge"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>